<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<script>
import { Device } from '@capacitor/device';

export default {
  name: "About",
  mounted() {
    this.logDeviceInfo();
  },
  methods: {
    async logDeviceInfo() {
      const info = await Device.getInfo();
      console.log(info);
    }
  }
}
</script>

<style scoped>

</style>