<template>
    <h2>Mein Konto</h2>

    <h1 ref="name" class="name">{{ displayName() }}</h1>
    <h2 v-if="isGuest" class="status">Unregistrierter Benutzer</h2>  <!-- Add v-if --> 

    <div v-if="isGuest" class="register-prompt">
        <p class="prompt-title">Registrieren Sie sich jetzt!</p>
        <p class="prompt-text">Wenn Sie sich registrieren können wir unsere Kunden besser kennenlernen und unseren Service verbessern.</p>
        <button @click="goToRegisterPage" class="prompt-button">Registrieren</button>
    </div>


    <div class="options">
        <div class="option">
            <img src="../assets/EurIcon.svg" alt="Euro Sign">
            <p class="option-text">Bezahlinformation</p>
            <img class="arrow" src="../assets/MinimalistArrow.svg" alt="Minimalist Arrow">
        </div>

        <div v-if="!isGuest" class="option">
            <img src="../assets/Lock.svg" alt="Euro Sign">
            <p style="font-size: 16px" class="option-text">Persönliche Informationen</p>
            <img class="arrow" src="../assets/MinimalistArrow.svg" alt="Minimalist Arrow">
        </div>

        <div class="option">
            <img src="../assets/ShopIconBlack.svg" alt="Shopping Sign">
            <p class="option-text">Bestellungen</p>
            <img class="arrow" src="../assets/MinimalistArrow.svg" alt="Minimalist Arrow">
        </div>

        <div class="help-option">
            <img src="../assets/QuestionMark.svg" alt="Question mark Sign">
            <p class="option-text">Hilfe benötigt?</p>
            <img class="arrow" src="../assets/WhiteMinimalistArrow.svg" alt="Minimalist Arrow">
        </div>

        <div v-if="!isGuest" class="logout-option">
            <img src="../assets/Logout.svg" alt="Question mark Sign">
            <p class="option-text">Abmelden</p>
            <img class="arrow" src="../assets/WhiteMinimalistArrow.svg" alt="Minimalist Arrow">
        </div>
    </div>

    <Navigation />
</template>

<script>
import Navigation from '../components/Navigation.vue';
import axios from 'axios';
import IP from '../Network';

export default {
    name: "Account",
    components: {
        Navigation
    },
    data() {
        return {
            userData: {},
            isGuest: null
        }
    },
    created() {
        // Api call to get User Info
        axios.get(`http://${IP}:5000/user/profile`, { headers: { "Authorization": `Bearer ${localStorage.getItem("authToken")}` } }).then((res) => {
            console.log(res);
            if(res.data.guest) {
                this.isGuest = true;
                this.userData.firstname = "GAST";
            } else {
                this.isGuest = false;
                this.userData = res.data.user;
                this.$refs["name"].style.marginTop = "1em";
            }
        });

        // Add Catch err
    },
    methods: {
        goToRegisterPage() {
            this.$router.replace("/register");
        },
        displayName() {
            if(this.userData.lastname) {
                return this.userData.firstname + "\n" + this.userData.lastname;
            } else {
                return this.userData.firstname;
            }
            
        }
    }
}
</script>

<style scoped>
    h2 {
        font-weight: 900;
        margin-left: 0.7em;
        color: #3a3a3a;
    }
    .name {
        font-weight: 900;
        font-size: 48px;
        margin: 5rem 0em 0em 0.3em;
        color: #3a3a3a;
        white-space: pre;
    }
    
    .status {
        color: #5b5858;
        margin: 0;
        font-size: 20px;
        margin: -0.5em 0em 0em 0.8em;
    }

    .register-prompt {
        width: 100%;
        height: fit-content;
        padding: 20px 0px;
        background-color: #2db67c;
        margin-top: 1em;
    }    

    .prompt-title, .prompt-text {
        margin: 0 0 0 0.8em;
        font-weight: 800;
        color: #fff;
        font-size: 18px;
    }

    .prompt-text {
        font-size: 16px;
        color: rgb(226, 226, 226);
    }

    .prompt-button {
        width: 150px;
        height: 40px;
        border: none;
        background-color: #ffcd95;
        border-radius: 25px;
        font-size: 17px;
        font-weight: 800;
        margin: 0.5em 0 0 0.8em;
    }
    
    .options {
        height: fit-content;
        overflow-y: auto;
        margin-bottom: 5rem;
    }

    .option, .help-option, .logout-option {
        display: flex;
        flex-direction: row;
        width: 90%;
        background-color: #ffcd95;
        margin: 10px auto;
        border-radius: 100px;
        text-align: left;
        position: relative;
    }

    .help-option {
        background-color: #2DB67C;
        color: #fff;
    }

    .option-text {
        font-weight: 800;
        font-size: 18px;
        margin-left: 1em;
    }

    .option img:first-child {
        margin-left: 1em;
        
    }

    .help-option img:first-child {
        margin-left: 1em;
    }

    .logout-option img:first-child {
        margin-left: 1.2em;
    }

    .arrow {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
    }

    .logout-option {
        background-color: #EC5757;
        color: #fff
    }

</style>