<template>
    <h2>
        <img @click="goToProductList" class="arrow" width="25" height="25" src="../assets/BackArrow.svg" alt="Arrow Back">
        Ihr Warenkorb
         </h2>    

    <Popup v-if="showPopup" @closePopup="showPopup = false" title="Warenkob ist Voll!" content="Wir können nur bis zu 5 Artikeln transportieren" />

    <button @click="removeAll" class="clear-button">Warenkorb leeren</button>
    <div ref="cart-area" class="cart-section">
        <Spinner />
        <div v-if="empty" class="empty-cart">
            <img src="../assets/SadFace.png" alt="Sad Face">
            <p>Ihr Warenkorb ist noch leer!</p>
        </div>
        <CartItem class="summary" v-on:amountChanged="updateView" v-on:removed="updateView" v-else v-for="item in items" v-bind:key="item.id" v-bind:product="item" />
    </div>

    <div class="buy-section">
        <div class="total-wrapper">
            <p class="total">Total</p>
            <div class="separator"></div>
            <p class="price">{{ total }} €</p>
        </div>
        
        <button @click="buy" ref="buy-button" class="buy-button" v-bind:class="{ disabled: overFilled }">
            Zur Kasse
            <img src="../assets/MinimalistArrow.svg" alt="Arrow">
        </button>
    </div>

    <Navigation />
</template>

<script>
import CartItem from '../components/CartItem.vue';
import Navigation from '../components/Navigation.vue';
import Spinner from '../components/Spinner.vue';
import Popup from '../components/Popup.vue';
import commerce from '../Commerce';

export default {
    name: "CartView",
    components: {
        CartItem,
        Navigation,
        Spinner,
        Popup
    },
    data() {
        return {
            items: [],
            total: 0,
            empty: false,
            overFilled: false,
            showPopup: false
        }
    },
    methods: {
        goToProductList() {
            console.log("fired")
            this.$router.replace("/products");
        },
        removeAll() {
            // Clear Cart
            commerce.cart.empty().then(() => {
                this.updateView();  // Update View 
            });
        },
        retrieveCart: async function() {
            // Get Cart from Commerce API
            const cart = await commerce.cart.retrieve();
            return cart;
        },
        async updateView() {
            // Hide Spinner
            this.$refs["cart-area"].children[0].style.display = "block";

            // Temporary Hide all elements (Beauty)
            const productSummaryElements = document.getElementsByClassName("summary");
            productSummaryElements.forEach((element) => element.style.display = "none");

            // Get new Data from API and assign
            await this.updateCart();

            // Show Summary Elements again
            productSummaryElements.forEach((element) => element.style.display = "flex");
        },
        async updateCart() {
            // Get Cart from Commercejs API
            const cart = await this.retrieveCart();

            // Assign Data 
            this.items = cart.line_items;
            this.total = cart.subtotal.formatted;   // Total Price

            // If Items under 1 aka empty show message
            if(cart.total_items < 1) {
                this.empty = true;  // Controls visibility of empty message
                // Disable Button
            }

            // overFilled property controls if buy-button is accessible or not
            if(cart.total_items > 5) {
                this.overFilled = true;
            } else {
                this.overFilled = false;
            }

            // Hide Spinner
            this.$refs["cart-area"].children[0].style.display = "none";
        },
        buy() {
            if(this.overFilled) {
                this.showPopup = true;  // Controls visibilty of Popup
                return; // Block further execution
            }
            if(this.empty) {
                console.log("Empty Cart! Cant buy");
                return;
            }

            this.$router.replace("/checkout");
        }
    },
    mounted() {
        // Get Data for First Time
        this.updateCart();
    }
}
</script>

<style scoped>
    h2 {
        font-weight: 900;
        margin-left: 0.7em;
        color: #3a3a3a;
        display: flex;
        align-items: center;
    }

    .arrow {
        margin-right: 0.5em;
    }

    .empty-cart {
        width: fit-content;
        margin: 5em auto;
        text-align: center;
        font-weight: 700;
    }

    .clear-button {
        position: absolute;
        top: 10%;
        right: 5%;
        font-weight: 700;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        padding: 7.5px 15px;
        background-color: #D6D6D6;
    }

    .cart-section {
        margin-top: 4em;
        height: 50vh;
        overflow-y: auto;
    }

    .buy-section {
        display: flex;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5rem;
        justify-content: space-between;
        align-items: flex-end;
    }

    .total-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 2em;
    }

    .total {
        font-size: 28px;
        margin: 0;
    }

    .price {
        margin: 0;
        font-weight: 800;
    }

    .separator {
        width: 100px;
        height: 6px;
        border-radius: 25px;
        background-color: #3a3a3a;
    }

    .price {
        color: #2db67c;
        font-size: 28px;
    }

    .buy-button {
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 25px;
        background-color: #ffcd95;
        font-weight: 900;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .disabled {
        background-color: #ddd;
        cursor: not-allowed;
    }
</style>
