<template>
    <form id="payment-form">
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <p id="card-error" role="alert"></p>
      <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      </p>
    </form>
</template>

<script>
import stripePromise from '../Stripe';
import IP from '../Network';
import commerce from '../Commerce';
import axios from 'axios';

export default {
    name: "Checkout",
    data() {
        return {
            stripe: null,
            card: null,
            checkoutToken: ""
        }
    },
    methods: {
        payWithCard(stripe, card, clientSecret) {
            stripe
                .confirmCardPayment(clientSecret, {
                payment_method: {
                    card: card
                }
                })
                .then((result) => {
                if (result.error) {
                    // Show error to your customer
                    console.log(result.error.message);
                } else {
                    // The payment succeeded!
                    this.orderComplete(result.paymentIntent.id);
                }
            });
        },
        orderComplete: function(paymentIntentId) {
            document
                .querySelector(".result-message a")
                .setAttribute(
                "href",
                "https://dashboard.stripe.com/test/payments/" + paymentIntentId
                );
            document.querySelector(".result-message").classList.remove("hidden");
            document.querySelector("button").disabled = true;
        }
    },
    async created() {

        const cart = await commerce.cart.retrieve();
        console.log(cart)

        const res = await axios.post(`http://${IP}:5000/products/buy`);

        console.log(res.data.clientSecret);

        this.stripe = await stripePromise;
        const elements = this.stripe.elements();

            const style = {
            base: {
                color: "#32325d",
                fontFamily: 'Arial, sans-serif',
                fontSmoothing: "antialiased",
                fontSize: "16px",
                "::placeholder": {
                color: "#32325d"
                }
            },
            invalid: {
                fontFamily: 'Arial, sans-serif',
                color: "#fa755a",
                iconColor: "#fa755a"
            }
        };

        this.card = elements.create("card", { style: style });
        this.card.mount("#card-element");

        this.card.on("change", function (event) {
            // Disable the Pay button if there are no card details in the Element
            document.querySelector("button").disabled = event.empty;
            document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
        });

        const form = document.getElementById("payment-form");
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            // Complete payment when the submit button is clicked
            this.payWithCard(this.stripe, this.card, res.data.clientSecret);
        });       
    }
}
</script>

<style scoped>
    form {
        width: 30vw;
        min-width: 500px;
        align-self: center;
        box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
            0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        padding: 40px;
    }
    input {
        border-radius: 6px;
        margin-bottom: 6px;
        padding: 12px;
        border: 1px solid rgba(50, 50, 93, 0.1);
        height: 44px;
        font-size: 16px;
        width: 100%;
        background: white;
    }
    .result-message {
        line-height: 22px;
        font-size: 16px;
    }
</style>