<template>
  <h1 class="personal-greeting">Hallo, {{ this.name }}!</h1>

  <Banner />
  <Recommendations />
  <SetupPrompt /> <!-- Add v-if  -->

  <Navigation />

</template>

<script>
import Banner from '../components/Banner.vue';
import Recommendations from '../components/Recommendations.vue';
import SetupPrompt from '../components/SetupPrompt.vue';
import Navigation from '../components/Navigation.vue';

export default {
  name: 'App',
  components: {
    Banner,
    Recommendations,
    SetupPrompt,
    Navigation
  },
  data() {
    return {
      name: "Kristof"
    }
  },
  created() {
    
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

.personal-greeting {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  margin-top: 0.5em;
  margin-left: 0.55em;
}

</style>
