<template>
    <h1>Login</h1>    

    <Navigation />
</template>

<script>
import axios from 'axios';
import Navigation from '../components/Navigation.vue';
import IP from '../Network';

export default {
    name: "Login",
    components: {
        Navigation
    },
    created() {
        axios.post(`http://${IP}:5000/user/login`, { 
            "email": "test@gmail.de",
            "password": "hallo123"
        }).then((res) => {
            console.log(res.data.token)
            localStorage.setItem("authToken", res.data.token);
        });
    }
}
</script>

<style scoped>

</style>
