<template>

    <div ref="top" class="top-section">
        <Spinner />
        <img @click="goToProductList" class="arrow" src="../assets/BackArrowWhite.svg">
        <img class="product-image" v-bind:src="imageUrl">
    </div>

    <div class="details">
        <h2 class="product-name">{{ product.name }}</h2>

        <p>Menge (Max. 5)</p>
        <AmountManager v-on:passUp="onPass" v-bind:count=amount />

        <div class="total-wrapper">
            <p class="total">Total</p>
            <div class="separator"></div>
            <p class="price">{{ (price * amount).toFixed(2) }} €</p>
            <button ref="add-button" @click="addToCart" class="add-button">  
                <span class="tooltiptext">In Warenkorb hinzugefügt</span>
                <img width="28" height="28" src="../assets/ShoppingCart.svg" alt="Shopping Cart">
                Hinzufügen
                </button>
        </div>
        
    </div>
    <Navigation />
</template>

<script>
import Navigation from '../components/Navigation.vue';
import AmountManager from '../components/AmountManager.vue';
import Spinner from '../components/Spinner.vue';
import commerce from '../Commerce';


export default {
    name: "ProductView",
    components: {
        Navigation,
        AmountManager,
        Spinner
    },
    data() {
        return {
            product: {},
            price: 0,
            amount: 1,
            imageUrl: ""
        }
    },
    methods: {
        onPass(value) {
            this.amount = value;
        },
        displayPrice(value) {
            const valueStr = value.toString();

            const splitted = valueStr.split(".");
            if(splitted[1] < 10) return valueStr + "0 €"

            return value + " €";
        },
        goToProductList() {
            this.$router.replace("/products");
        },
        addToCart() {
            commerce.cart.add(this.$route.params.product, this.amount);
            this.$refs["add-button"].childNodes[2].textContent = "Hinzugefügt!";
            this.$refs["add-button"].style.backgroundColor = "#2db67c";
            this.$refs["add-button"].style.color = "#fff";
            this.$refs["add-button"].disabled = true;
            setTimeout(() => {
                this.$refs["add-button"].childNodes[0].style.visibility = "hidden";
            }, 2000);
        }
    },
    created() {
        commerce.products.retrieve(this.$route.params.product).then((product) => {
            this.product = product;
            this.price = product.price.formatted;
            this.imageUrl = product.media.source;
            console.log(product)
           
        }).catch(err => {
            console.log(err);
        });
    }
}
</script>

<style scoped>


    .top-section {
        height: 12.5rem;
        position: relative;
        padding: 1em;
        background-color: lightblue;
    }

    .product-image {
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrow {
        position: absolute;
        top: 5%;
        left: 5%;
        color: #fff;
    }

    .details {
        height: 100%;
        position: relative;
        margin-bottom: 7rem;
    }

    .product-name {
        margin: 0.5em 0em 0em 0.5em;
        font-weight: 900;
    }

    p {
        font-size: 24px;
        font-weight: 800;
        margin: 0.5em 0em 0em 0.5em;
    }

    .total-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 2em;
    }

    .total {
        font-size: 28px;
    }

    .separator {
        width: 100px;
        height: 6px;
        border-radius: 25px;
        background-color: #3a3a3a;
    }

    .price {
        color: #2db67c;
        font-size: 28px;
    }

    .add-button {
        width: 180px;
        height: 45px;

        border: none;
        border-radius: 25px;

        background-color: #ffcd95;

        font-weight: 700;
        font-size: 18px;

        margin-top: 1em;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .add-button {
        position: relative;
    }

    .add-button .tooltiptext {
        visibility: hidden;
        width: fit-content;
        background-color: #ffcd95;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 10%;
        margin-left: -60px;
        transition: all 0.5s ease;
    }

    .add-button .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #ffcd95 transparent transparent transparent;
    }

    .add-button:hover .tooltiptext {
        visibility: visible;
    }

</style>
