<template>
    <ProductSearch />
    <Spinner></Spinner>

    <div v-if="apiError" class="error-message">
        <img ref="bild" src="../assets/SadFace.png" alt="Sad Smile Face">
        <p>Es ist ein Fehler aufgetreten!</p>
        <p>Bitte versuchen Sie es erneut...</p>
    </div>




    <div class="product-wrapper">
        <Product v-for="product in products" :key="product._id" v-bind:product="product"></Product> 
    </div>

    <CartIcon />
    <Navigation />
</template>

<script>
import Navigation from '../components/Navigation.vue';
import ProductSearch from '../components/ProductSearch.vue';
import Product from '../components/Product.vue';
import Spinner from '../components/Spinner.vue';
import CartIcon from '../components/CartIcon.vue';
import commerce from '../Commerce';

export default {
    name: "ProductView",
    data() {
        return {
            products: [],
            apiError: false
        }
    },
    components: {
        Navigation,
        ProductSearch,
        Product,
        Spinner,
        CartIcon
    },
    created() {
        commerce.products.list().then(products => {
            this.products = products.data;
            console.log(this.products)
            // Hide Spinner
            document.getElementById("app").children[2].style.display = "none";
        }).catch(err => {
            console.log(err);
            this.apiError = true;
        });
    }, 
    mounted() {
        setTimeout(() => {
            const imageWrappers = document.querySelectorAll("div.image-wrapper");

            imageWrappers.forEach(imageWrapper => {
                
               // const img = imageWrapper.getElementsByTagName("img")[0];
               // const color = this.getDominantColor(img);
                const color = "#e7e7e7";
                console.log(imageWrapper, color);
            }); 
        }, 100);
    }
}
</script>

<style scoped>

    .product-wrapper {
        height: fit-content;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        overflow-y: auto;
        margin-bottom: 7.5rem;
    }

    .error-message {
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #777777;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .error-message img {
        margin-bottom: 1em;
    }

</style>