<template>
    <h1>Registrierung</h1>

    <Navigation />
</template>

<script>
import Navigation from '../components/Navigation.vue';

export default {
    name: "Register",
    components: {
        Navigation
    }
}
</script>

<style scoped>

</style>