<template>
    <div class="top-section">
        <h1>Wählen Sie eine Option aus!</h1>
    </div>

    <div class="options">
         <div @click="goToShoppingView" class="option">
            <img src="../assets/ShoppingBag.svg" alt="Shopping Bag Image">
            <div class="option-text-wrapper">
                <p class="option-title">Einkaufen</p>
                <p class="option-text">Geniesen Sie den gesamten Brühler Einzelhandel</p>
            </div>
            
            <div class="arrow-wrapper">
                <img src="../assets/Arrow.svg" alt="Arrow To the Right">
            </div>
        </div>

        <div @click="goToDeliveryView" class="option">
            <img src="../assets/BikeLarge.svg" alt="Bike Image">
            <div class="option-text-wrapper">
                <p class="option-title">Abhol-/Bringdienst</p>
                <p class="option-text">Wir bringen Ihnen alles was Sie wollen</p>
            </div>
            
            <div class="arrow-wrapper">
                <img src="../assets/Arrow.svg" alt="Arrow To the Right">
            </div>
        </div>

        <div @click="goToCourierView" class="option">
            <img src="../assets/Location.svg" alt="Location Image">
            <div class="option-text-wrapper-big">
                <p class="option-title">Kurierdienst</p>
                <p class="option-text">Wir transportieren Ihre Gegenstände sicher zu Ihrem Empfänger</p>
            </div>
            
            <div class="arrow-wrapper">
                <img src="../assets/Arrow.svg" alt="Arrow To the Right">
            </div>
        </div>
    </div>


    <Navigation />
</template>

<script>
import Navigation from '../components/Navigation.vue';

export default {
    name: "Selection",
    components: {
        Navigation
    },
    methods: {
        goToShoppingView() {
            this.$router.replace("/products");
        },
        goToDeliveryView() {
            this.$router.replace("/")   // View not ready yet
        },
        goToCourierView() {
            this.$router.replace("/")    // View not ready yet
        }
    }
}
</script>

<style scoped>

    .top-section h1 {
        font-size: 34px;
        font-weight: 900;
        margin: 0;
        padding: 0.7em 0em 0em 0.5em;
        color: #fff;
        
    }

    .top-section {
        background-image: url("../assets/SelectionTopBackground.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
    }

    .options {
        margin-bottom: 5rem;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .option {
        width: 90%;
        height: 130px;
        background-color: #fff;
        margin: 1em auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 25px;
        -webkit-box-shadow: 7px 7px 11px 0px #AAAAAA; 
        box-shadow: 7px 7px 11px 0px #AAAAAA;
        position: relative;
    }

    .option img {
        padding: 10px;
    }

    .option-title {
        font-weight: 900;
        margin: 0;
        font-size: 20px;
    }

    .option-text {
        color: rgb(117, 117, 117);
        margin: 0;
        font-weight: 800;
    }

    .option-text-wrapper, .option-text-wrapper-big {
        display: flex;
        flex-direction: column;
        height: 50%;
        margin: auto 0;
    }

    /* Ugly */
    .option-text-wrapper-big {
        height: 80%;
    }


    .arrow-wrapper {
        background-color: #ffcd95;
        height: 40px;
        width: 40px;
        border-radius: 25px 0px 25px 0px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
</style>