<template>
    <div ref="wrapper" class="wrapper">
        <div @click="decrement" class="minus">-</div>
        <p>{{ counter }}</p>
        <div @click="increment" class="plus">+</div>
    </div>
</template>

<script>
export default {
    name: "AmountManager",
    props: ['count', 'width', 'height', 'minimum' ],
    data() {
        return {
            counter: this.count,
            lowest: 1
        }
    },
    mounted() {
        if(this.width && this.height) {
            this.$refs["wrapper"].style.width = this.width.toString();
            this.$refs["wrapper"].style.height = this.height.toString();
        }
        this.lowest = this.minimum;

    },
    methods: {
        increment() {
            if(this.counter >= 5) return;
            this.counter++;
            this.emitToParent();
        },
        decrement() {
            if(this.counter <= this.lowest) return;
            this.counter--;
            this.emitToParent();
        },
        emitToParent() {
            this.$emit('passUp', this.counter);
        }
    }
}
</script>

<style scoped>
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        width: 140px;
        background-color: #2db67c;
        border-radius: 15px;
        margin-left: 1em;
        margin-top: 0.3em;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffcd95;
        font-size: 24px;
        font-weight: 900;
    }

    .minus, .plus {
        width: 30%;
        height: 100%;
        background-color: #4cdea0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        border-radius: 0px 15px 15px 0px;
    }

    .minus {
        border-radius: 15px 0px 0px 15px;
    }
</style>
