<template>
    <div class="banner">
        <span>Willkommen bei VeloBrühl!</span>
        <p>Was können wir für Sie tun?</p>
        <img src="../assets/Bike.svg" alt="Orange Bike for Banner">
        <button id="discover-button">Umschauen</button>
  </div>
</template>

<script>
export default {
    name: "Banner"
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

    .banner {
        width: 90%;
        height: 160px;
        background: rgb(67,226,169);
        background: linear-gradient(328deg, rgba(67,226,169,1) 0%, rgba(45,182,124,1) 100%);
        border-radius: 20px;
        margin: 0 auto;
        color: #fff;
        position: relative;
        font-weight: 800;
    }

    span {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 18px;
    }

    p {
        position: absolute;
        top: 15%;
        left: 5%;
    }

    img {
        position: absolute;
        top: 45%;
        right: -2.5%;
        transform: scale(1.2);
    }


    #discover-button {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        position: absolute;
        width: 125px;
        height: 35px;
        border: none;
        background-color: #fff;
        border-radius: 20px;
        position: absolute;
        top: 60%;
        left: 5%;
        font-size: 15px;
    }

</style>