<template>
    <div class="product-wrapper">
        <div class="image-wrapper">
            <img v-bind:src="imageUrl" v-bind:alt="productDetails.name">
        </div>

        <div class="text-details">
            <h3 class="product-name">{{ productDetails.name }}</h3>
            <h2 class="product-price">{{ (productDetails.price.formatted * amount).toFixed(2) }} €</h2>
        </div>


        <AmountManager :minimum="0" v-on:passUp="onPass" class="amount-manager" width="100px" height="50px" v-bind:count="amount" />
    </div>
</template>

<script>
import AmountManager from '../components/AmountManager.vue';
import commerce from '../Commerce';

export default {
    name: "ProductSummary",
    props: [ "product" ],
    components: {
        AmountManager
    },
    methods: {
        onPass(value) {
            this.amount = value;
            commerce.cart.update(this.productDetails.id, { quantity: this.amount }).then(() => {
                this.$emit("amountChanged");
            });
            
        },

    },
    data() {
        return {
            productDetails: {},
            amount: 0,
            imageUrl: ""
        }
    },
    created() {
        console.log(this.product);
        this.productDetails = this.product;
        this.amount = this.product.quantity;
        this.imageUrl = this.productDetails.media.source;
    },
    updated() {
        if(this.amount == 0) {
            // Remove from Cart
            commerce.cart.remove(this.productDetails.id).then(() => {
                console.log("Removed from Cart!")
                this.$emit("removed", this.productDetails.id);
            });
        }
    }

}
</script>

<style scoped>
    .product-wrapper {
        width: 90%;
        height: 75px;
        background-color: #fff;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        -webkit-box-shadow: 7px 7px 11px 0px #AAAAAA; 
        box-shadow: 7px 7px 11px 0px #AAAAAA;
    }

    .image-wrapper {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        height: 90%;
        width: auto;
    }

    .text-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    .product-name {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .product-price {
        font-weight: 800;
        color: #2db67c;
    }

    h3, h2 {
        margin: 0;
        padding: 0;
    }

    .amount-manager {
        margin: auto 1em auto 0em;
    }

</style>