<template>
    <div @click="goToCartView" class="circle">
        <img src="../assets/ShoppingCart_Small.svg" alt="Shopping Cart">
        <div class="badge">
            {{ amount }}
        </div>
    </div>    
</template>

<script>
import commerce from '../Commerce';

export default {
    name: "CartIcon",
    data() {
        return {
            amount: 0
        }
    },
    methods: {
        getCart() {
            commerce.cart.retrieve().then((items) => {
                console.log(items.total_items);
                this.amount = items.total_items;
            });
        },
        goToCartView() {
            this.$router.replace("/products/cart");
        }
    },
    mounted() {
        this.getCart();
    }
}
</script>

<style scoped>
    .circle {
        position: fixed;
        right: 5%;
        bottom: 15%;
        background-color: #fcdd95;
        width: 80px;
        height: 80px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 7px 7px 11px 0px #AAAAAA; 
        box-shadow: 7px 7px 11px 0px #AAAAAA;
    }

    img {
        width: 32px;
        height: 32px;
        transform: translate(-5px, 5px)
    }

    .badge {
        background-color: red;
        position: absolute;
        top: 20%;
        left: 50%;
        width: 24px;
        height: 24px;
        text-align: center;
        border-radius: 100px;
        color: #fff;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>