<template>
    <div class="navigation">
        
        <router-link v-if="$route.fullPath === '/'" to="/"><img src="../assets/ActiveHomeIcon.svg" alt="Home Icon Link"></router-link>
        <router-link v-else to="/"><img src="../assets/HomeIcon.svg" alt="Home Icon Link"></router-link>
        
        <router-link v-if="checkPath" to="selection"> <div class="circle">
            <img ref="shop-icon" src="../assets/ShoppingIcon.svg" alt="Shopping Icon Link">
        </div> </router-link>

        <router-link to="/" v-else>
            <div class="circle">
                <div ref="cancel-icon">
                    <div class="line"></div>
                    <div class="line"></div> 
                </div>    
            </div>
            
        </router-link>

        <router-link v-if="$route.fullPath === '/account'" to="/account"><img src="../assets/ActiveUserIcon.svg" alt="User Icon Link"></router-link>
        <router-link v-else to="/account"><img src="../assets/UserIcon.svg" alt="User Icon Link"></router-link>
    </div>
</template>

<script>
export default {
    name: "Navigation",
    methods: {
        cancelOrder() {
            this.$router.push("/");
        }
    },
    computed: {
        checkPath() {
            if(this.$route.fullPath === '/selection') return false;
            if(this.$route.fullPath.split("/")[1] === 'products') return false;
            //if(this.$route.fullPath === '/') return false;
            return true;
        }
    },
    mounted() {
        // Check current View and set src-attr 
        console.log("Current View: ", this.$route.fullPath)
        //  
    }
}
</script>

<style scoped>
    .navigation {
        position: fixed;
        bottom: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #f4f4f4;
        align-items: center;
        width: 100%;
        padding: 5px 0px;
    }

    .circle {
        background: rgb(45,182,124);
        background: linear-gradient(328deg, rgba(45,182,124,1) 0%, rgba(67,226,169,1) 100%);
        width: 72px;
        height: 72px;
        border-radius: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line {
        width: 40px;
        height: 8px;
        background-color: #fff;
        border-radius: 25px;
        transform: translate(0px, -4px) rotate(45deg);
    }

    .line:first-child {
        transform: translate(0px, 4px) rotate(-45deg);
    }

</style>