<template>
    <div ref="modal-wrapper" class="background">
        <div class="modal">
            <p>{{ title }}</p>    
            <p>{{ content }}</p>    
            <button @click="hide">X</button>
        </div>    
    </div>    
</template>

<script>
export default {
    name: "Popup",
    props: [ "title", "content", "media" ],
    methods: {
        hide() {
            this.$emit("closePopup");
        }
    }
     
}
</script>

<style scoped>
    .background {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal {
        background-color: #fff;
        width: 80%;
        height: 40%;
        border-radius: 25px;
    }
</style>