<template>
    <div @click="viewProductDetails" class="product">
        <div class="image-wrapper">
            <img class="product-image" v-bind:src="product.media.source" alt="Produkt Bild">
        </div>
        
        <p class="product-title">{{ product.name }}</p>
        <p class="product-price">{{ product.price.formatted }} €</p>   
    </div>
</template>

<script>
import FastAverageColor from 'fast-average-color';

export default {
    name: "Product",
    props: [ "product" ],
    methods: {
        getDominantColor(img) {
            const fac = new FastAverageColor();
            const color = fac.getColor(img);
            return color;
        },
        mounted() {
            console.log(this.product)
        },
        viewProductDetails() { 
            this.$router.replace(`/products/details/${this.product.id}`);
        },
    }
}
</script>

<style scoped>
    .product {
        width: 40%;
        height: 200px;
        background-color: #2DB67C;
        border-radius: 25px;    
        flex-basis: 45%;
        -ms-flex: auto;
        margin-top: 2em;
    }

    .image-wrapper {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border-radius: 24px 24px 0px 0px;
    }

    .product-image {
        height: 95%;
        width: auto;
    }

    p {
        margin: 0px 0px 0px 10px;
        font-weight: 800;
    }

    .product-title {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
    }

    .product-price {
        color: #fff;
        font-size: 20px;
        margin-top: 0.6rem;
    }
</style>