<template>
    <div class="top-section">
        <img @click="goToProductView" src="../assets/BackArrow.svg" alt="Left Arrow Button" class="back-arrow">
        <input class="search-input" placeholder="Suchen..." type="text">
    </div>

    <div class="categories">
        <div v-for="category in categories" v-bind:key="category" v-bind:ref="category" @click="switchCategory(category)" class="category-wrapper">
            {{ category }}
        </div>
    </div>
    
    
</template>

<script>
export default {
    name: "ProductSearch",
    data() {
        return {
            categories: [
                "Lebensmittel",
                "Schreibwaren",
                "Kleidung",
                "Haushalt"
            ],
            selectedCategory: null
        }
    },
    mounted() {
        this.selectedCategory = this.categories[0];
        this.highlightSelectedCategory();
    },
    methods: {
        goToProductView() {
            this.$router.replace("/selection");
        },
        highlightSelectedCategory() {
            const categories = document.querySelectorAll('div.category-wrapper');
            categories.forEach((category) => {
                category.style.backgroundColor = '#e7e7e7';
            });
            this.$refs[this.selectedCategory].style.backgroundColor = "#ffcd95";
        },
        switchCategory(category) {
            console.log(category);
            this.selectedCategory = category;

            // Fetch from API 

            this.highlightSelectedCategory();
        }
    }
}
</script>

<style scoped>

    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .search-input {
        height: 40px;
        width: 80%;
        border-radius: 30px;
        border: 4px solid #FFCD95;
        padding-left: 10px;
        outline: none;
        font-weight: 700;
        font-size: 16px;
    }

    .categories {
        width: auto;
        display: flex;
        flex-direction: row;
        overflow: auto;
        flex-wrap: nowrap;
        margin-top: 10px;
    }

    .category-wrapper {
        width: fit-content;
        height: 35px;
        background-color: #e7e7e7;
        border-radius: 30px;
        padding: 0px 15px;
        margin: 5px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 700;
    }
</style>