<template>
    <p class="section-title">Vorschläge für Sie</p>
    <div class="recommendation-wrapper">
        <div @click="goToShoppingView" class="recommendation">
            <img src="../assets/ShopIcon.svg" alt="Shop Icon">
            <p class="title">Einkaufen?</p>
            <p class="text">Gucken Sie sich unser Angebot an</p>
        </div>
        <div @click="goToDeliveryView" class="recommendation">
            <img src="../assets/BikeIcon.svg" alt="Bike Icon">
            <p class="title">Abholung?</p>
            <p class="small-text">Wir können für Sie alles mögliche abholen</p>
        </div>
        <div @click="goToCourierView" class="recommendation">
            <img src="../assets/ShopIcon.svg" alt="Shop Icon">
            <p class="title">Kurier?</p>
            <p class="small-text">Wir transportieren alles mögliche für Sie</p>
        </div>
    </div>
    
</template>

<script>
export default {
    name: "Recommendations",
    methods: {
        goToShoppingView() {
            this.$router.push("/products");
        },
        goToDeliveryView() {
            this.$router.push("/")   // View not ready yet
        },
        goToCourierView() {
            this.$router.push("/")    // View not ready yet
        }
    } 
}
</script>

<style scoped>
    .section-title {
        font-size: 20px;
        font-weight: 900;
        margin: 0.5em 0 0.3em 1em;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .recommendation-wrapper {
        overflow: auto;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 130px;
    }

    .recommendation {
        flex: 0 0 auto;
        width: 150px;
        height: 100%;
        background: rgb(45,182,124);
        background: linear-gradient(328deg, rgba(45,182,124,1) 0%, rgba(67,226,169,1) 100%);
        border-radius: 25px;
        margin-left: 1em;
    }

    img {
        margin: 10px 0px 0px 10px;
    }

    .title {
        color: #fff;
        font-weight: 800;
        font-size: 18px;
        margin: 1px 0px 0px 10px;
    }

    .text, .small-text {
        font-weight: 700;
        color: #fff;
        margin: 0px 0px 0px 10px;
        font-size: 14px;  
    }

    .small-text {
        font-size: 12px;
    }
    

</style>