<template>
    <div class="container">
        <p class="prompt-title">Richten Sie Ihr Konto ein!</p>
        <p class="prompt-text">Falls Sie ein Konto erstellen helfen Sie uns VeloBrühl zu verbessern und anzupassen.</p>
        <button @click="setupAccount" class="setup-button">Einrichten</button>
    </div>
</template>

<script>
export default {
    name: "SetupPrompt",
    methods: {
        setupAccount() {
            // Render Account View 
            console.log("Rendering new View...")
        }
    }
}
</script>

<style scoped>
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .prompt-title {
        font-weight: 900;
        font-size: 18px;
        margin: 20px 0px 0px 0px;
    }

    .prompt-text {
        font-weight: 900;
        font-size: 14px;
        color: #848484;
        margin: 5px 0px 0px 0px;
    }

    .setup-button {
        font-family: 'Nunito', sans-serif;
        width: 120px;
        height: 35px;
        border: none;
        background-color: #ffcd95;
        border-radius: 20px;
        font-weight: 900;
        font-size: 16px;
        margin-top: 10px;
        outline: none;
    }

</style>