<template>
  <router-view/>
</template>

<script>
import axios from 'axios';
import IP from './Network';

export default {
  name: 'App',
  created() {
    // Fetch User Profile for custom name display etc.
    if(localStorage.getItem("isGuest")) {
      const isGuest = localStorage.getItem("isGuest");
      // If User is a Guest and accesses the App again
      if(isGuest) {
        axios.post(`http://${IP}:5000/user/guest`).then(res => {
          console.log("Is Guest! Retrieving new Token");
          localStorage.setItem("authToken", res.data.token);
        });
      } else {
        // Request Refresh Token
      }

    } else {
      // If isGuest Item in localStorage does not exist
      axios.post(`http://${IP}:5000/user/guest`).then(res => {
        console.log("Token: ", res.data.token);
        localStorage.setItem("authToken", res.data.token);
        localStorage.setItem("isGuest", true);
      })
    }
    
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

  body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #3a3a3a;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  * {
    font-family: 'Nunito', sans-serif;
  }
</style>
